@media screen {
    #chart-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
    }
    #sir-chart-div {
        grid-column: 1 / span 5;
        grid-row: 1 / span 3;
    }
    #susceptible-count-div {
        grid-column: 6 / span 1;
        grid-row: 1 / span 1;
    }
    #infectious-count-div {
        grid-column: 6 / span 1;
        grid-row: 2 / span 1;
    }
    #recovered-count-div {
        grid-column: 6 / span 1;
        grid-row: 3 / span 1;
    }
    #city-chart-div {
        grid-column: 7 / span 6;
        grid-row: 1 / span 3;
    }
    #start {
        grid-column: 1 / span 6;
        grid-row: 4 / span 1;
        justify-self: end;
        width: 30%;
        height: 30%;
        min-height: 50px;
        min-width: 100px;
    }
    #stop {
        grid-column: 7 / span 6;
        grid-row: 4 / span 1;
        justify-self: start;
        width: 30%;
        height: 30%;
        min-height: 50px;
        min-width: 100px;
    }
}
@media screen and (max-width: 900px) {
    #chart-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, minmax(min-content, max-content));
        align-items: center;
    }
    #sir-chart-div {
        grid-column: 1 / span 6;
        grid-row: 1 / span 1;
    }
    #susceptible-count-div {
        grid-column: 1 / span 2;
        grid-row: 2 / span 1;
    }
    #infectious-count-div {
        grid-column: 3 / span 2;
        grid-row: 2 / span 1;
    }
    #recovered-count-div {
        grid-column: 5 / span 2;
        grid-row: 2 / span 1;
    }
    #city-chart-div {
        grid-column: 1 / span 6;
        grid-row: 3 / span 1;
    }
    #start {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;
        justify-self: end;
        width: 30%;
        height: 30%;
        min-height: 50px;
        min-width: 100px;
    }
    #stop {
        grid-column: 4 / span 3;
        grid-row: 4 / span 1;
        justify-self: start;
        width: 30%;
        height: 30%;
        min-height: 50px;
        min-width: 100px;
    }
}